{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Rando Navigo</h1>
        <p>Randonnées en Ile-de-France accessibles en transport en commun.</p>

        <main class="posts">
            {% for post in posts %}
                {{ include('hike/list/post.html.twig', {'post': post}) }}
            {% endfor %}
        </main>
    </div>
{% endblock %}
