{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block meta %}{{ include('hike/list/meta.html.twig') }}{% endblock %}

{% block content %}
    <div class="page-home">
        <div class="banner">
            <h1>Rando Navigo</h1>
            <p>Randonnées en Ile-de-France accessibles en transport en commun.</p>
        </div>

        <section class="intro">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <aside class="gpx-info">
                            <h3>Traces GPX</h3>

                            <p>
                                Toutes les randonnées sont proposées au format GPX. Une fois la randonnée téléchargée sur votre smartphone, impossible de se tromper.
                                Il n'y a plus qu'à suivre la trace !
                            </p>

                            <a href="{{ path('help_gpx') }}" class="btn btn-info">En savoir plus</a>
                        </aside>
                    </div>

                    <div class="col-md-8 offset-md-1">
                        <div class="content">
                            <h2>Randonnées en Ile-de-France</h2>

                            <p>Rando Navigo vous propose de nombreuses <strong>randonnées</strong> en Ile-de-France, toujours <strong>accessibles en transport en commun</strong> !</p>

                            <p>Il est en effet possible de s’évader en pleine nature près de chez soi et rapidement grâce aux transports en commun en Ile-de-France. Votre carte Navigo est désormais complètement dézonée, alors <strong>quittez la grisaille parisienne le temps d’une journée</strong> et profitez-en !</p>

                            <p>Vous serez étonné du nombre de randonnées possibles partout en Ile-de-France facilement accessibles <strong>sans voiture</strong>.</p>

                            <p>Je vous en propose quelques unes sur ce site web qui s’enrichira au fur et à mesure de nouvelles découvertes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="hike-list">
            <div class="container">
                <div class="row">
                    {% for hike in hikes %}
                        <div class="col-md-6 col-lg-4 hike-card-column">
                            {{ include('hike/list/hike-card.html.twig', {'hike': hike}) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}
