{% extends 'base.html.twig' %}

{% block page_class %}hike-list{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for hike in hikes %}
                <div class="col-md-4">
                    {{ include('hike/list/hike-card.html.twig', {'hike': hike}) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
