---
import LinePage from "~/layouts/LinePage.astro";
import { getHikesForTransportLine } from "~/lib/getHikes";
import banner from "~/assets/transport/banner/ligne-h.jpeg";

const hikes = await getHikesForTransportLine("H");
---

<LinePage
  title="Randonnées sur la ligne H du Transilien"
  description="Randonnées accessibles en transports par la ligne H du Transilien en Île-de-France"
  hikes={hikes}
  borderColor="border-transilien-h"
  bgColor="bg-transilien-h"
  line="H"
  banner={banner}
>
  <p>
    La ligne H du Transilien dessert une large partie du Nord de
    l&apos;Île-de-France. Des stations parfois très peu fréquentées, et
    c&apos;est en général bon signe pour la randonnée !
  </p>

  <p>
    La ligne dessert de charmantes petites villes telles qu&apos;Auvers-sur-Oise
    et Luzarches. On y reviendra avec de nouvelles randonnées dans ces environs.
  </p>

  <p>
    Plusieurs forêts sont également accessibles, telles que la <b
      >Forêt de Montmorency</b
    > ou celle <b>la Canelle</b>.
  </p>

  <p>
    Les trains de la ligne (les « Franciliens ») sont modernes et confortables.
  </p>
</LinePage>
