---
import LinePage from "~/layouts/LinePage.astro";
import { getHikesForTransportLine } from "~/lib/getHikes";
import banner from "~/assets/transport/banner/ligne-l.jpeg";

const hikes = await getHikesForTransportLine("L");
---

<LinePage
  title="Randonnées sur la ligne L du Transilien"
  description="Randonnées accessibles en transports par la ligne L du Transilien en Île-de-France"
  hikes={hikes}
  borderColor="border-transilien-l"
  bgColor="bg-transilien-l"
  line="L"
  banner={banner}
>
  <p>
    La ligne L du Transilien dessert entre autres le Sud-Ouest parisien, sans
    s&apos;éloigner bien loin dans la région. La ligne est bien pratique pour
    rejoindre différentes forêts, telle que celle de Marly, de Fausses-Reposes
    et Meudon, sans oublier également la desserte de Versailles de manière
    rapide (bien plus qu&apos;avec le RER C en général).
  </p>

  <p>Les trains sont modernes, et c&apos;est toujours appréciable !</p>
</LinePage>
