---
import LinePage from "~/layouts/LinePage.astro";
import { getHikesForTransportLine } from "~/lib/getHikes";
import banner from "~/assets/transport/banner/ligne-t11.jpeg";

const hikes = await getHikesForTransportLine("T11");
---

<LinePage
  title="Randonnées sur le Tram T11"
  description="Randonnées accessibles en transports par la ligne T11 du tramway en Île-de-France"
  hikes={hikes}
  borderColor="border-tram-t11"
  bgColor="bg-tram-t11"
  line="T11"
  banner={banner}
>
  <p>
    La ligne T11 du tram (nommée parfois <em>T11 Express</em> du fait de son utilisation
    de tram-trains plus rapides) dessert principalement des zones urbaines. La ligne
    est encore toute petite, Elle est toutefois amenée à être prolongée et assurera
    alors des connexions intéressantes entres les différentes lignes, ce qui permettra
    aux habitants des différentes banlieues parisiennes de rejoindre facilement diverses
    lignes de RER et Transilien… et des randonnées à la clé ! Et ça, on aime bien.
  </p>
</LinePage>
