---
import LinePage from "~/layouts/LinePage.astro";
import { getHikesForTransportLine } from "~/lib/getHikes";
import banner from "~/assets/transport/banner/ligne-r.jpeg";

const hikes = await getHikesForTransportLine("R");
---

<LinePage
  title="Randonnées sur la ligne R du Transilien"
  description="Randonnées accessibles en transports par la ligne R du Transilien en Île-de-France"
  hikes={hikes}
  borderColor="border-transilien-r"
  bgColor="bg-transilien-r"
  line="R"
  banner={banner}
>
  <p>
    La ligne R du Transilien, qui descend loin dans le Sud, mène au paradis de
    la randonnée en Île-de-France !
  </p>
  <p>
    Elle rejoint la plus renommée des forêts d&apos;Île-de-France, la <b
      >Forêt de Fontainebleau</b
    >, au point même d&apos;avoir un point d&apos;arrêt dédié aux randonneurs le
    week-end.
  </p>
  <p>
    La ligne s&apos;arrête également dans les charmants villages autour du <b
      >Loing</b
    > et permet de rejoindre la <b>Forêt de Nemours</b>.
  </p>
  <p>
    Avec tous ces atouts, pourquoi si peu de randonnées sur RandoNavigo ?
    Patience, ça ne saurait tarder !
  </p>
</LinePage>
