---
import LinePage from "../../layouts/LinePage.astro";
import { getHikesForTransportLine } from "../../lib/getHikes";
import banner from "../../assets/transport/banner/rer-a.jpeg";

const hikes = await getHikesForTransportLine("A");
---

<LinePage
  title="Randonnées sur le RER A"
  description="Randonnées accessibles en transports par le RER A en Île-de-France"
  hikes={hikes}
  borderColor="border-rer-a"
  bgColor="bg-rer-a"
  line="A"
  banner={banner}
>
  <p>
    Ligne la plus empruntée d&apos;Île-de-France et même d&apos;Europe, le RER A
    dessert principalement des zones fortement urbaines. Son avantage ? Avec une
    fréquence élevée et sa rapidité, il permet d&apos;improviser une petite
    randonnée pour une demi-journée sans avoir à planifier des heures à
    l&apos;avance. Il est ainsi possible de trouver des randonnées à proximité
    de certaines de ses gares, notamment dans les forêts de
    Saint-Germain-en-Laye ou de Vincennes. Des randonnées qui ne seront donc pas
    toujours 100% nature, mais qui permettent de s&apos;évader un peu de la
    ville tout de même !
  </p>
</LinePage>
