---
import LinePage from "../../layouts/LinePage.astro";
import { getHikesForTransportLine } from "../../lib/getHikes";
import banner from "../../assets/transport/banner/ligne-n.jpeg";

const hikes = await getHikesForTransportLine("N");
---

<LinePage
  title="Randonnées sur la ligne N du Transilien"
  description="Randonnées accessibles en transports par la ligne N du Transilien en Île-de-France"
  hikes={hikes}
  borderColor="border-transilien-n"
  bgColor="bg-transilien-n"
  line="N"
  banner={banner}
>
  <p>
    La ligne N du Transilien dessert depuis la Gare Montparnasse tout le Sud
    Ouest de l&apos;Île-de-France. Et ça c&apos;est top.
  </p>
  <p>
    Déjà, car toute la <b>Forêt de Rambouillet</b> se trouve par là. Plus besoin
    de la présenter, c&apos;est avec Fontainebleau celle que l&apos;on cite directement
    pour la région parisienne. Il ne faut pas croire qu&apos;il faut s&apos;arrêter
    à la station de Rambouillet pour la découvrir, plusieurs autres stations permettent
    de l&apos;explorer.
  </p>
  <p>
    Ensuite, on rejoint également avec cette ligne toute une partie de la <b
      >Vallée de Chevreuse</b
    >, terre de randonnées également.
  </p>
</LinePage>
