.banner {
    height: 500px;
    background-image: url('../../images/overlay.png'), url('../../images/IMG_9140-blur.jpg');
    background-position: top left, center left;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    color: white;
    text-shadow: 0 0 8px black;
    padding: 10em 0 18em 0;
    text-align: center;

    h1 {
        font-weight: 700;
    }
}
