.hike-card {
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    background: white;

    .main-picture {
        height: 220px;
        background-position: top left;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .details {
        background: #f8f8f7;
        padding: 6px 12px 12px 12px;

        .category {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0.2rem;
        }

        .access {
            display: table;
            width: 100%;

            .transport {
                font-size: 0.9rem;
                font-weight: normal;
                color: $light-text-color;

                .line {
                    display: table-cell;
                    padding-right: 4px;
                    word-spacing: nowrap;

                    img {
                        width: 24px;
                    }
                }

                .station {
                    display: table-cell;
                }
            }

            .distance {
                display: table-cell;
                text-align: right;

                .hike-icon {
                    height: 16px;
                }
            }
        }
    }

    .content {
        background-color: white;
        font-size: 0.9rem;

        padding: 32px 32px;
        background-color: white;
        font-size: 0.9rem;
        line-height: 1.8;
        color: $light-text-color;

        h2 {
            font-weight: 700;
            color: #32383e;
            margin: 0 0 0.5em 0;
            font-size: 1.2rem;
            line-height: 1.5rem;
            letter-spacing: -0.025rem;

            a {
                color: inherit;
            }
        }
    }
}
