.point {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 3rem;
  text-shadow: 1px 1px 0px rgba(100, 100, 100, 0.8);
  padding-right: 10px;
}

.starting-point .icon {
  color: #61aa72;
}

.ending-point .icon {
  color: #b66654;
}
