<div class="picture" itemscope itemtype="http://schema.org/ImageGallery">
    <div class="row">
        {% for picture in hike.pictures %}
            <div class="col-md-4">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-index="{{ loop.index0 }}">
                    <a href="{{ hike_utils.picture_url(hike, picture) }}" itemprop="contentUrl" data-size="1000x667" data-index="0">
                      <img src="{{ hike_utils.picture_url(hike, picture)|imagine_filter('hike_thumbnail') }}" itemprop="thumbnail" alt="Beach" style="max-width: 100%">
                    </a>
                </figure>
            </div>
        {% endfor %}
    </div>
</div>
