---
import { SITE_TITLE, SITE_DESCRIPTION } from "~/consts";
import List from "~/components/Hike/List.astro";
import { getHikesSorted } from "~/lib/getHikes";
import BaseLayout from "~/layouts/BaseLayout.astro";
import Intro from "~/components/Home/Intro.astro";
import TopBanner from "~/components/TopBanner.astro";

const hikes = await getHikesSorted();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <TopBanner />
  <Intro />
  <section class="bg-zinc-50 py-12">
    <List hikes={hikes} />
  </section>
</BaseLayout>
