---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import List from "../components/Hike/List.astro";
import { getHikesSorted } from "../lib/getHikes";
import BaseLayout from "../layouts/BaseLayout.astro";

const hikes = await getHikesSorted();
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <List hikes={hikes} />
  </section>
</BaseLayout>
