<header>
    <div class="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 offset-sm-1">
                    <div class="brand">
                        <div class="logo">
                            <img src="{{ asset('images/logo.svg') }}" alt="">
                        </div>
                        <div class="brand-name">
                            <h1>
                                <a href="{{ path('homepage') }}">Rando Navigo</a>
                            </h1>

                            <p>
                                Randonnées en Ile-de-France accessibles en transport en commun.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
