<header>
    <div class="banner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-8 offset-sm-1">
                    <div class="brand">
                        <div class="logo">
                            <a href="{{ path('homepage') }}">
                                <img src="{{ asset('images/logo.svg') }}" alt="">
                            </a>
                        </div>
                        <div class="brand-name">
                            <h1>
                                <a href="{{ path('homepage') }}">Rando Navigo</a>
                            </h1>

                            <p>
                                Randonnées en Ile-de-France accessibles en transport en commun.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="social-links">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/randonavigo/" title="Rando Navigo sur Facebook" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/randonavigo" title="Rando Navigo sur Twitter" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
