.access {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  margin-bottom: 16px;
}

.access.hasEndPoint .transportPoint:first-child {
  margin-right: 1rem;
}

.transportPoint {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.startPointIcon {
  color: #61aa72;
  margin-right: 8px;
}

.endPointIcon {
  color: #b66654;
  margin-right: 8px;
}
