.hike-show {
    header {
        background: rgba(80, 80, 80, 0.07);

        .main-picture {
            max-width: 100%;
        }

        h1 {
            font-size: 1.8rem;
            line-height: 2.6rem;
            font-weight: 500;
            margin-bottom: 2rem;
        }

        .category {
            font-weight: 700;
            font-size: 0.7rem;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        .summary {
            font-size: 1.25rem;
            font-weight: 300;
            line-height: 2rem;
        }

        .gpx-download {
            width: 100%;
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-align: center;

            .gpx-help {
                span {
                    font-size: 0.8rem;
                }
            }
        }

        .access {
            .transport {
                font-size: 0.9rem;
                font-weight: normal;
                color: $light-text-color;

                .point {
                    display: table;

                    .icon {
                        display: table-cell;
                        font-size: 3rem;
                        text-shadow: 1px 1px 0px rgba(100, 100, 100, 0.8);
                        padding-right: 10px;
                    }

                    &.starting-point {
                        .icon {
                            color: #61aa72;
                        }
                    }

                    &.ending-point {
                        .icon {
                            color: #b66654;
                        }
                    }

                    .line {
                        display: table-cell;
                        vertical-align: middle;
                        white-space: nowrap;
                        padding-right: 10px;

                        img {
                            width: 24px;
                        }
                    }

                    .station {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
        }

        .distance {
            .hike-icon {
                height: 32px;
                margin-right: 10px;
            }
        }
    }

    .details {
        margin-top: 3rem;
        margin-bottom: 3rem;

        .map {
            height: 400px;
        }

        .description {
            line-height: 2rem;
        }
    }

    .gallery {
        margin-top: 2rem;

        h2 {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
}
