<div
  class="flex flex-col items-center gap-6 font-sans-serif border-t border-gray-200 p-8"
>
  <a href="/a-propos">
    <img
      src="/images/about/profile2.jpg"
      class="rounded-full w-20 h-20 lg:w-28 lg:h-28"
      alt=""
    />
  </a>

  <div class="flex flex-col gap-2">
    <p class="text text-gray-900">
      Passionné de randonnée, j'ai créé RandoNavigo dans le but de partager mes
      escapades en Ile-de-France. Des randonnées 100% nature, à portée de pass
      Navigo, pour s'évader près de chez soi !
    </p>

    <a href="/a-propos" class="text-gray-600">En savoir plus</a>
  </div>
</div>
