---
type Props = {
  distance: number;
  isLoop: boolean;
};

const { distance, isLoop } = Astro.props;
---

<span class="leading-none text-xl md:text-2xl font-bold">
  <strong>{distance} km</strong>
</span>

<span class="text-sm md:text-base text-gray-600 inline-block pl-2 md:pl-3">
  {isLoop ? "(boucle)" : "(gare à gare)"}
</span>
