---
import { type CollectionEntry, getCollection } from 'astro:content';
import HikeCard from './HikeCard.astro';

const hikes = (await getCollection('hike')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
	{hikes.map((hike) => (
    <HikeCard hike={hike} />
	))}
</div>
