<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Rando Navigo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet">

        {% block meta %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
                {{ include('layout/header.html.twig') }}
            {% endblock %}

            <main class="content">
                {% block content %}{% endblock %}
            </main>

            {% block footer %}
                {{ include('layout/footer.html.twig') }}
            {% endblock %}
        {% endblock %}

        {% block javascripts %}{% endblock %}

        {% block scripts %}{% endblock %}

        {% block google_analytics %}
            {{ include('layout/google-analytics.html.twig') }}
        {% endblock %}
    </body>
</html>
